table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  min-width: 120px;
}

.title-column {
  width: 30%;
}

.task-select {
  width: 98%;
}

.filter-select {
  min-width: 120px;
}

.header {
  padding: 0.6em;
}

button {
  margin-right: 0.6em;
}

.search-bar {
  margin-bottom: 0.6em;
}

.search-bar input {
  margin-right: 0.6em;
}

label {
  display: block;
  /* margin-bottom: 0.4em; */
}

.filter-input-group {
  display: block;
  margin-bottom: 0.6em;
}

.filter-input {
  display: inline-block;
  margin-right: 0.6em;
}

.edit-button {
  display: inline-block;
  margin-left: 0.2em;
  padding: 0;
  background: white;
  border: none;
}

.projects-input {
  width: 20em;
}
